@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Open Sans;
    line-height: 1.5;
}

.nav {
    position: relative;
    display: flex;
    list-style: none;
    padding: 10px 20px;
}

.nav a {
    position: relative;
    padding: 0.6em 2em;
    font-size: 25px;
    font-weight: bold;
    border: none;
    outline: none;
    color: #000;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

.nav .active {
    color: #ea178c;
    bottom: 0px;
    height: 100%;
}

.nav .active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 38%;
    width: 40px;
    height: 1px;
    background-color: #ea178c;
    -webkit-animation: appear 2s;
    animation: appear 2s;
}

@-webkit-keyframes appear {
    from {
        opacity: 0;
        width: 5px;
    }
    to {
        opacity: 1;
        width: 40px;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        width: 5px;
    }
    to {
        opacity: 1;
        width: 40px;
    }
}